In [20]:
import sys
import os
sys.path.append(os.path.join('../lib'))
import pandas as pd

In [21]:
from survey import Survey
from coordinates import CoordinateSystem

In [22]:
SAMPLE_DATA = '../sample_data/survey_ibema_faxinal.csv'

In [23]:
mys = Survey(SAMPLE_DATA, 'sample', CoordinateSystem.GEOGRAPHIC)

In [7]:
selection = ['latitude', 'longitude', 'elevation']

In [28]:
selection = ['northing', 'easting', 'elevation', 'zone_letter', 'zone_number']

In [26]:
mys.data = pd.read_csv(SAMPLE_DATA)

In [11]:
mys.data[selection].to_csv('../sample_data/survey_ibema_faxinal_Geographic.csv', index=False)

In [29]:
mys.data[selection].to_csv('../sample_data/survey_ibema_faxinal_UTM.csv', index=False)

In [27]:
mys.data

,timestamp,latitude,longitude,northing,easting,zone_letter,zone_number,elevation
0,2017-02-23 17:19:02,-24.936196,-51.390600,460564.162280,7.242060e+06,J,22,883.16
1,2017-02-23 17:19:03,-24.936199,-51.390601,460564.002393,7.242060e+06,J,22,883.16
2,2017-02-23 17:19:23,-24.936456,-51.390599,460564.321028,7.242032e+06,J,22,883.18
3,2017-02-23 17:19:43,-24.936713,-51.390597,460564.563586,7.242003e+06,J,22,880.68
4,2017-02-23 17:20:02,-24.936945,-51.390570,460567.438707,7.241978e+06,J,22,878.91
5,2017-02-23 17:20:20,-24.937188,-51.390540,460570.494626,7.241951e+06,J,22,875.59
6,2017-02-23 17:20:36,-24.937326,-51.390682,460556.194662,7.241935e+06,J,22,873.80
7,2017-02-23 17:20:53,-24.937334,-51.390753,460549.046219,7.241934e+06,J,22,873.05
8,2017-02-23 17:21:08,-24.937333,-51.390929,460531.240876,7.241934e+06,J,22,871.35
9,2017-02-23 17:21:28,-24.937341,-51.391221,460501.768238,7.241933e+06,J,22,870.63
10,2017-02-23 17:21:41,-24.937319,-51.391392,460484.531212,7.241936e+06,J,22,869.86
11,2017-02-23 17:21:55,-24.937307,-51.391513,460472.282073,7.241937e+06,J,22,869.13
12,2017-02-23 17:22:10,-24.937311,-51.391628,460460.698345,7.241937e+06,J,22,869.20
13,2017-02-23 17:22:28,-24.937317,-51.391776,460445.789165,7.241936e+06,J,22,869.25
14,2017-02-23 17:22:35,-24.937327,-51.391881,460435.180296,7.241935e+06,J,22,871.72
15,2017-02-23 17:22:52,-24.937342,-51.392038,460419.292326,7.241933e+06,J,22,874.25
16,2017-02-23 17:23:12,-24.937342,-51.392264,460396.468865,7.241933e+06,J,22,875.77
17,2017-02-23 17:23:35,-24.937343,-51.392525,460370.150521,7.241933e+06,J,22,876.80
18,2017-02-23 17:23:38,-24.937337,-51.392539,460368.718418,7.241934e+06,J,22,876.81
19,2017-02-23 17:23:54,-24.937244,-51.392709,460351.568925,7.241944e+06,J,22,877.68
20,2017-02-23 17:23:58,-24.937211,-51.392721,460350.322685,7.241947e+06,J,22,878.51
21,2017-02-23 17:24:12,-24.937092,-51.392721,460350.301770,7.241961e+06,J,22,880.06
22,2017-02-23 17:24:28,-24.936928,-51.392707,460351.653956,7.241979e+06,J,22,881.73
23,2017-02-23 17:24:42,-24.936782,-51.392705,460351.750935,7.241995e+06,J,22,884.16
24,2017-02-23 17:24:43,-24.936774,-51.392699,460352.391657,7.241996e+06,J,22,884.16
25,2017-02-23 17:24:57,-24.936682,-51.392573,460365.123801,7.242006e+06,J,22,884.91
26,2017-02-23 17:25:12,-24.936558,-51.392496,460372.827444,7.242020e+06,J,22,885.92
27,2017-02-23 17:25:28,-24.936396,-51.392468,460375.644437,7.242038e+06,J,22,886.68
28,2017-02-23 17:25:42,-24.936288,-51.392405,460381.923086,7.242050e+06,J,22,886.69
29,2017-02-23 17:25:57,-24.936158,-51.392324,460390.098780,7.242064e+06,J,22,886.72
...,...,...,...,...,...,...,...,...
125,2017-02-23 17:48:17,-24.937212,-51.391263,460497.538116,7.241948e+06,J,22,873.28
126,2017-02-23 17:48:18,-24.937205,-51.391256,460498.212875,7.241949e+06,J,22,873.28
127,2017-02-23 17:48:22,-24.937175,-51.391237,460500.175069,7.241952e+06,J,22,874.13
128,2017-02-23 17:48:27,-24.937130,-51.391209,460502.919654,7.241957e+06,J,22,874.14
129,2017-02-23 17:48:42,-24.937015,-51.391128,460511.108338,7.241970e+06,J,22,875.92
130,2017-02-23 17:48:52,-24.936931,-51.391063,460517.614872,7.241979e+06,J,22,875.89
131,2017-02-23 17:49:08,-24.936807,-51.390967,460527.264998,7.241993e+06,J,22,876.67
132,2017-02-23 17:49:23,-24.936716,-51.390909,460533.066772,7.242003e+06,J,22,878.44
133,2017-02-23 17:49:37,-24.936663,-51.390846,460539.447465,7.242009e+06,J,22,879.25
134,2017-02-23 17:49:49,-24.936630,-51.390781,460545.987126,7.242012e+06,J,22,880.73
135,2017-02-23 17:50:05,-24.936536,-51.390759,460548.183009,7.242023e+06,J,22,880.75
136,2017-02-23 17:50:19,-24.936419,-51.390711,460552.960746,7.242036e+06,J,22,881.52
137,2017-02-23 17:50:34,-24.936305,-51.390649,460559.186862,7.242048e+06,J,22,882.40
138,2017-02-23 17:50:43,-24.936278,-51.390639,460560.193896,7.242051e+06,J,22,882.39
139,2017-02-23 17:50:47,-24.936255,-51.390674,460556.733691,7.242054e+06,J,22,882.37
140,2017-02-23 17:51:02,-24.936235,-51.390795,460544.456456,7.242056e+06,J,22,882.38
141,2017-02-23 17:51:16,-24.936189,-51.390920,460531.790154,7.242061e+06,J,22,882.35
142,2017-02-23 17:51:24,-24.936164,-51.390992,460524.521347,7.242064e+06,J,22,882.36
143,2017-02-23 17:51:40,-24.936103,-51.391146,460508.981298,7.242071e+06,J,22,882.38
144,2017-02-23 17:51:41,-24.936094,-51.391152,460508.343877,7.242072e+06,J,22,882.39
145,2017-02-23 17:52:00,-24.935933,-51.391207,460502.817351,7.242089e+06,J,22,882.40
146,2017-02-23 17:52:16,-24.935866,-51.391315,460491.828330,7.242097e+06,J,22,882.39
147,2017-02-23 17:52:33,-24.935744,-51.391466,460476.573395,7.242110e+06,J,22,882.37
148,2017-02-23 17:52:38,-24.935706,-51.391505,460472.575546,7.242114e+06,J,22,879.96
149,2017-02-23 17:52:53,-24.935614,-51.391607,460462.289153,7.242125e+06,J,22,878.99
150,2017-02-23 17:52:56,-24.935613,-51.391606,460462.339794,7.242125e+06,J,22,879.00
151,2017-02-23 17:52:58,-24.935614,-51.391604,460462.568606,7.242125e+06,J,22,879.00
152,2017-02-23 17:53:00,-24.935615,-51.391601,460462.915899,7.242124e+06,J,22,879.06
153,2017-02-23 17:53:03,-24.935615,-51.391597,460463.339001,7.242125e+06,J,22,879.06
154,2017-02-23 17:53:05,-24.935616,-51.391595,460463.533997,7.242124e+06,J,22,875.60

In [30]:
df = mys.data

In [31]:
df['x'] = df['easting'] - df['easting'].min()
df['y'] = df['northing'] - df['northing'].min()
df['z'] = df['elevation'] - df['elevation'].min()

In [36]:
df.describe()

,latitude,longitude,northing,easting,zone_number,elevation,x,y,z
count,155.000000,155.000000,155.000000,1.550000e+02,155.0,155.000000,155.000000,155.000000,155.000000
mean,-24.936588,-51.391509,460472.471034,7.242017e+06,22.0,879.931742,83.934361,122.169264,10.891742
std,0.000568,0.000581,58.636730,6.295906e+01,0.0,4.462328,62.959058,58.636730,4.462328
min,-24.937343,-51.392721,460350.301770,7.241933e+06,22.0,869.040000,0.000000,0.000000,0.000000
25%,-24.937081,-51.391851,460437.962316,7.241962e+06,22.0,877.135000,29.027339,87.660547,8.095000
50%,-24.936679,-51.391583,460464.951322,7.242007e+06,22.0,880.450000,73.956517,114.649552,11.410000
75%,-24.936109,-51.391071,460516.618538,7.242070e+06,22.0,883.170000,137.022770,166.316768,14.130000
max,-24.935597,-51.390540,460570.494626,7.242126e+06,22.0,887.550000,193.590676,220.192856,18.510000

In [37]:
selection=['x','y','elevation']

In [38]:
df[selection].to_csv('../sample_data/survey_ibema_faxinal_Cartesian.csv', index=False)

In [41]:
for item in df.columns:
    print(type(item))

<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>
<class 'str'>

## Plotting survey elevation path with plotly

In [ ]:
import plotly
import plotly.offline as poff
import plotly.graph_objs as go

In [ ]:
layout = go.Layout(
    title=my_survey.name,
    xaxis=dict(title='Time'),
    yaxis=dict(title='Elevation (m)'),
    autosize=True)
trace = go.Scatter(
    x = my_survey.data.index,
    y = my_survey.data['elevation'],
    mode = 'lines+markers',
    name = 'Survey elevation profile'
)
data = [trace]

In [ ]:
poff.init_notebook_mode()

In [ ]:
poff.iplot({
    "data": data,
    "layout": layout
})

In [ ]:
from utils import printProgressBar

In [ ]:
help(printProgressBar)

In [ ]:
help(GpsSurvey)

In [ ]:
(filename, extension) = os.path.splitext("dasdas/der4sdsfilexlsx.GPX")

In [ ]:
accepted = set(['.xlsx','.xls','.gpx','.csv'])

In [ ]:
accepted

In [ ]:
'.csv' in accepted

In [ ]:
'.dacsv' in accepted

## XML parsing

In [ ]:
from xml.dom.minidom import parse

In [ ]:
source = '../sample_data/survey_ibema_faxinal.gpx'

In [ ]:
collection = parse(source).documentElement

In [ ]:
track_points = collection.getElementsByTagName('trkpt')

In [ ]:
len(track_points)

In [ ]:
point = track_points[45].getAttribute('lat')

In [ ]:
if not point:
    print("Empty")

## Testing new survey module

In [ ]:
import pandas as pd
import sys
import os
sys.path.append('../lib')
from xml.dom.minidom import parse
from coordinates import CoordinateSystem
from coordinates import UtmCoordinate
from survey import Survey

In [ ]:
SOURCE = '../sample_data/survey_ibema_faxinal.gpx'

In [ ]:
survey = Survey(SOURCE, 'Ibema')

In [ ]:
survey

In [ ]:
survey.data

# Generating UTM sample files for tests

In [1]:
import pandas as pd

In [2]:
source = '../sample_data/survey_ibema_faxinal_UTM.csv'

In [3]:
df = pd.read_csv(source)

In [5]:
df.describe()

            northing       easting   elevation  zone_number
count     155.000000  1.550000e+02  155.000000        155.0
mean   460472.471034  7.242017e+06  879.931742         22.0
std        58.636730  6.295906e+01    4.462328          0.0
min    460350.301770  7.241933e+06  869.040000         22.0
25%    460437.962316  7.241962e+06  877.135000         22.0
50%    460464.951322  7.242007e+06  880.450000         22.0
75%    460516.618538  7.242070e+06  883.170000         22.0
max    460570.494626  7.242126e+06  887.550000         22.0

In [6]:
selection = ['northing','easting','elevation']

In [8]:
df = df[selection]

In [11]:
df.to_csv('../sample_data/test.csv', index=False)

In [12]:
sample = {"v1":3, "v2": 4}

In [13]:
len(sample)

2